* {
    margin: 0;
    padding: 0;
}

body  {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins",sans-serif;
    overflow: hidden;
}


nav {
    width: 100vw;
    height: 8vh;

    background-color: rgb(12, 12, 12);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1vw;

    margin-left: 2vw;
}

.logo img {
    width: 3vw;

    border-radius: 50%;
    border: 1px white solid;
}

.logo h2 {
    font-size: 1.5vw;
}

main {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;

    background-color: rgb(51, 51, 51);
    color: white;
}

main h1 {
    margin: 10vh 0 1vh 0;

    font-size: 3vw;
}

main p {
    font-size: 1.2vw;
    line-height: 1.5;
    opacity: 0.5;
}