body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cardname-container {
    width: 350px;
    height: 500px;
    border: 1px black solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #052659;
    box-shadow: 0 0 10px 4px black;
    color: white;
    border-radius: 15px ;
    display: grid;
    grid-template-areas: 'profile'
                         'mediasocial'
                         'none'
                         'detailprofil';
    grid-template-rows: 1fr 0fr 0fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.cardname-container > .profil-content {
    grid-area: profile;
    padding-top:30px ;
    display: grid;
    justify-content: center;
}

.cardname-container > .profil-content > img {
    width: 120px;
    display: grid;
    place-self: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cardname-container > .profil-content > h2 {
    line-height: 0;
    margin: 2rem 0 0 0;
    padding: 0;
}

.cardname-container > .profil-content > h4 {
    text-align: center;
}

.cardname-container > .MediaSocial-content {
    grid-area: mediasocial;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.cardname-container > .MediaSocial-content > a > i {
    padding: 10px;
    color: white;
}
.cardname-container > label {
    background-color: #07367c;
    border-radius: 20px 20px 0 0;
    text-align: center;

    
}
.cardname-container > label,.detailprofil-wrapper {
    transform: translateY(-300px);
}
.cardname-container > .detailprofil-wrapper{
    grid-area: detailprofil;
    display: grid;
    justify-content: center;
    height: 100%;
    background-color: #083e8f;
}

.cardname-container > .detailprofil-wrapper > h3 {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

.cardname-container > .detailprofil-wrapper > .aboutme {
    display: grid;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 20%;
}

.cardname-container > .detailprofil-wrapper > .aboutme > p{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


.cardname-container > .detailprofil-wrapper > .detailprofil {
    display: none;
}