* {
    margin: 0;
    padding: 0;
}

body  {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins",sans-serif;
    overflow-x: none;

    background-color: rgb(29, 29, 29);
    color: white;

}

body::-webkit-scrollbar {
    display: none;
}


header {
    width: 100vw;
    height: 8vh;

    background-color: rgb(29, 29, 29);
    border-bottom: 0.1px gray solid;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1vw;

    margin-left: 2vw;
}

.logo img {
    width: 3vw;

    border-radius: 50%;
    border: 1px white solid;
}

.logo h2 {
    font-size: 1.5vw;
}

.greeting {
    width: 100vw;
    height: 45vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

}

.greeting h2 {
    margin-top: 8vh;
    font-size: 2vw;

}

.greeting p {
    font-size: 1.2vw;
    line-height: 1.5;

    margin-top: 2vh;
    opacity: 0.5;
}

.greeting h1 b:nth-child(1){
    animation: color-change 7s ease-in-out infinite;
}

.greeting h1 b:nth-child(2){
    animation: color-change 7s ease-in-out infinite;
    animation-delay: 1s;
}

.greeting h1 b:nth-child(3){
    animation: color-change 7s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes color-change {
    0% {
        color: white;
    }
    25% {
        color: gray;
    }
    50% {
        color: rgb(109, 155, 255);
    }
    75% {
        color: gray;
    }
    100% {
        color: white;
    }


}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.kotak-konten {
    width: 97%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px gray solid;
    padding: 0 1vw;
    gap: 2vw;
    
}

.konten {
    margin-top: 2vh;
    width: 23%;
    height: 45%;
    background-color: rgb(41, 41, 41);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.konten iframe {
    width: 100%;
    height: 85%;
}

.konten:nth-child(3) iframe {
    background-color: white;
}

.konten iframe::-webkit-scrollbar {
    display: none;
}

.konten a {
    font-size: 1.2vw;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    text-indent: 1vw;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

.konten a:hover {
    color: gray;
}


