body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
}

nav {
    width: 90vw;
    height: 8vh;
    border: 1px black solid;
    border-radius: 24px;
    box-shadow: 0 0 10px gray,
                0 0 20px gray;

    position: relative;
}

nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: aqua;
}

nav > ul > li {
    width: auto;
    height: 100%;
    list-style: none;
}

nav > ul > li > a {
    width: 100%;
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
    position: relative;
}

.dropdown {
    width: 10vw;
    visibility: hidden;
    position: absolute;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    transition: all 0.4s ease-in-out, visibility 0.4s;
    opacity: 0;
    transform: translateY(0);
    z-index: 1000;
    padding: 0;
}

.dropdown > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown > ul > li {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.dropdown > ul > li:hover{
    background-color: rgb(106, 106, 106);
}

.dropdown > ul > li > a {
    font-size: 1.1vw;
    color: black;
    text-decoration: none;
    text-indent: 1vw;
}

nav > ul > li > a:hover + .dropdown,.dropdown:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);
}