*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width : 768px) {
    body{
        font-family: Arial, Helvetica, sans-serif;
        width: 100vw;
        height: 100vh;
        background-image: url(https://cdn.theanimegallery.com/theanimegallery/baf26dbf-0074-4ce9-8a08-b4cfcaaf532a-cartoon-desktop-wallpaper.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
     }
     
     .area {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
      }
      header {
        width: 100vw;
        height: 10vh;
      }

      .hamburger i {
        color: white;
        
      }

      
      
}